doctype 5
html
  head
    block head
      title= title
      != css("/assets/css/bootstrap.min")
      != css("/assets/css/style")
      != css("/assets/css/jquery.fileupload-ui")
      != js("/assets/js/jquery.min")
      != js("/assets/js/bootstrap.min")
  body
    .container
      .navbar
        .navbar-inner
          a(href=site).brand Lasertryk.dk

      block content