extends layout

block content
  .row
    .span4
      form
        fieldset
          label Antal
          input.input-block-level(type="text")
          label Bredde
          input.input-block-level(type="text")
          label Højde
          input.input-block-level(type="text")
          label Efterbehandling
          select.input-block-level
            option Ingen
            option Kantbånd
          label Type
          select.input-block-level
            option Stof
            option Presenning
          .btn.btn-primary.btn-block#calculate Beregn
    .span8
      .amount-selector
        .amount-price.left
          div.amount 10 stk
          div.price 200 kr
        .amount-price
          div.amount 20 stk
          div.price 400 kr
        .amount-price.selected
          div.amount 30 stk
          div.price 600 kr
        .amount-price
          div.amount 40 stk
          div.price 800 kr
        .amount-price
          div.amount 50 stk
          div.price 1000 kr
      .clearfloat