extends ../../../views/layout

block append head
  != js("/lib/checkout/payment/client/client")

block content
  .row
    .span12
      ul.breadcrumb
        li
          a(href="/products") Bestilling
          span.divider /
        li.active Betaling
  
    script(charset='UTF-8', src='https://ssl.ditonlinebetalingssystem.dk/integration/ewindow/paymentwindow.js', type='text/javascript')
    #payment-div
    script(type='text/javascript')
      paymentwindow = new PaymentWindow({
        'merchantnumber': "8880248",
        'amount': !{JSON.stringify(price*100)},
        'currency': "DKK",
        'windowstate': "4",
        'paymentcollection': "1",
        'iframeheight': "400",
        'iframewidth': "760",
        'accepturl': !{JSON.stringify(site + "/sendorder")}
      });
      paymentwindow.append('payment-div');
      paymentwindow.open();