extends ../../views/layout

block content
  .row
    .span12
      .ul.thumbnails
        .li.span4
          a(href="/products/banners")
            .thumbnail
              img(src="http://placehold.it/350x150")
              .caption
                h3.text-center Bannere
        .li.span4
          a(href="/products/businesscards")
            .thumbnail
              img(src="http://placehold.it/350x150")
              .caption
                h3.text-center Visitkort