extends ../views/layout

block append head
  != js("/lib/banners/banners")

block content

  .row
    .span4
      form#product-form
        label Antal
        input.input-block-level#amount(name="amount", type="text")
        label Bredde
        input.input-block-level#width(name="width", type="text")
        label Højde
        input.input-block-level#height(name="height", type="text")
        label Efterbehandling
        select.input-block-level#treatment(name="treatment")
        label Type
        select.input-block-level#printMethod(name="printMethod")
        .btn.btn-primary.btn-block#calculate Beregn
    .span8#price-container
      #price
      a.btn.btn-large.btn-success#upload Upload trykfil