extends ../views/layout

block append head
  != js("/lib/banners/customerinfo")

block content
  .row
    .span6.offset3
      form#address-form
        fieldset
          label Navn
          input.input-block-level#name(name="name", type="text")
          label Adresse 1
          input.input-block-level#address1(name="address1", type="text")
          label Adresse 2
          input.input-block-level#address2(name="address2", type="text")
          label Postnummer
          input.input-block-level#postal(name="postal", type="text")
          label By
          input.input-block-level#city(name="city", type="text")
          .btn.btn-large.btn-success.pull-right#complete Udfør ordre